<!DOCTYPE html>
<html lang="en">

<% if(status){%> 
    <%- include standardnavigatorlogin.ejs %>
<%}else{%>
    <%- include standardnavigator.ejs %>
<%}%>

<body>

<div class="container">
	<h1> Sup ma </h1>
	<p> n </p>
</div>

<div class="container">
	<img src="/images/allen.jpg" class="img-rounded" alt="for allen" width="304" height"236"></img>
	</br>
	<form method="post">
		<button type="submit" class="btn btn-danger" value="nignog" name="allen"> Nigs </button>
	</form>
</div>

</body>

</html>