<!DOCTYPE html>
<html lang="en">
<% if(status){%> 
    <%- include standardnavigatorlogin.ejs %>
<%}else{%>
    <%- include standardnavigator.ejs %>
<%}%>

<body style="background-color:#EAEAEA;">
<div id="container1">
  <div id="body1">
  	<form class="form-horizontal" role="form" style="width: 50%;">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" id="message" name="message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="submit" name="submit" type="submit" class="btn btn-primary">
        </div>
    </div>
	</form>
  </div>
  <%- include footerNavigator.ejs %>
</div>
</body>
</html>