<!DOCTYPE HTML>
<html lang="en">


 <!-- Include page header-->
 <% if(status){%> 
    <%- include standardnavigatorlogin.ejs %>
<%}else{%>
    <%- include standardnavigator.ejs %>
<%}%>

 <body>
 	<h1>404 Error Scrub</h1>
 </body>
 </html>