<!DOCTYPE html>
<html lang="en">
<body>
  <footer style="background-color:#D81E05;">
    <div id="sticky-footer">
    	<div class= "container">
	      <h2>HackIt</h2>
	      <p>Created by: WhenName2Long</p>
	      <p>Contact information: <a href="mailto:someone@example.com">WhenName2Long@example.com</a>.</p>
	    </div>
  </div>
  </footer>
</body>
</html>