<!DOCTYPE HTML>
<html lang="en">

<% if(status){%> 
    <%- include standardnavigatorlogin.ejs %>
<%}else{%>
    <%- include standardnavigator.ejs %>
<%}%>

<body style="background-color:#EAEAEA;">
	<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
<div id="container1">
	<div class="container">
	<div class="jumbotron" id="body1">
	    <h1>Welcome to <strong><em>Bank On It</em></strong></h1>
	   <p>Many of us start our careers with the future in mind. Assess your current financial situation with our debt reduction solutions to help you plan for the future.</p>
	    <p>Explore our loan calculator to get a picture for paying down your debts faster, consildate potential cost saving solutions, and increasing your cash flow.</p>
        <% if(status){%> 
          <form action="/" method="POST" role="form">
            <div class="form">
                <div class="col-sm-1">
                    <button type="submit" id="signin" name="sign" value="/login" class="btn btn-primary" style="visibility: hidden">Sign In</button>
                </div>
            </div>
            <div class="form">
              <div class="col-sm-1">
                    <button type="submit" id="signup" name="sign" value="/signup" class="btn btn-primary" style="visibility: hidden">Sign Up</button>
                </div>
            </div>
          </form>
        <%}else{%>
          <form action="/" method="POST" role="form">
            <div class="form">
                <div class="col-sm-1">
                    <button type="submit" id="signin" name="sign" value="/login" class="btn btn-primary" style="visibility: visible">Sign In</button>
                </div>
            </div>
            <div class="form">
              <div class="col-sm-1">
                    <button type="submit" id="signup" name="sign" value="/signup" class="btn btn-primary" style="visibility: visible">Sign Up</button>
                </div>
            </div>
          </form>
        <%}%>
	</div>
	</div>
<%- include footernavigator.ejs %>
</div>
</body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1071255159582585',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</html>