<!DOCTYPE HTML>
<html lang="en">

 <!-- Include page header-->
 <%- include standardnavigator.ejs %>

<body>
	<div class="col-lg-offset-5">
	    <h1>Welcome to BankOnIt</h1>
	    <p>Here you well be able to reduce debt</p>
	    <p>It will provide you with debt solutions</p>
	    <div class="form-group">
	        <div class="col-sm-2">
	            <button type="signin" id="signin" name="signin" type="signin" value="/signin" class="btn btn-primary">Sign In</button>
	        </div>
    	</div>
    	<div class>
    		<div class="col-sm-2">
	            <button type="signup" id="signup" name="signup" type="signup" value="/signup" class="btn btn-primary">Sign Up</button>
	        </div>
	    </div>
	</div>
<%- include footernavigator.ejs %>
</body>
</html>