<!DOCTYPE HTML>
<html lang="en">

 <!-- Include page header-->
 <%- include standardnavigator.ejs %>

<body>

<div class="col-lg-offset-1">
    <h1>Hello World!</h1>
    <p>Say hello to the server! Or Goodbye if you want.</p>
    </form>
</div>
</body>


 </html>