<!DOCTYPE html>
<html lang="en">

<%- include standardnavigator.ejs %>

<body>
<div id="container1">
	<div class="container">
		<div id="body1">
			<div class="jumbotron">
		    	<h1>This user does not exist</h1>
		    	<p>This will be redirected to the home page</p>
			</div>
	  	</div>
	</div>
<%- include footernavigator.ejs %>
</div>
</body>
</html>