<!DOCTYPE html>
<html lang="en">

<%- include standardnavigator.ejs %>

<body>
<div id="container1">
	<div class="container" id="body1">
	<h1>Your Profile :)</h1>
	<p>Click on the Loans to view your information</p>
<%- include footernavigator.ejs %>
</div>
</body>
</html>