<!DOCTYPE html>
<html lang="en">

<%- include standardnavigator.ejs %>

<body>
	<div class="container">
		<h1>Sign Up</h1>
		<p>Enter in your information</p>

		<form class="form-horizontal" role="form" style="width: 100%;">
		    <div class="form-group">
		        <label for="fname" class="col-sm-2 control-label">First Name:</label>
		        <div class="col-sm-6">
		            <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="lname" class="col-sm-2 control-label">Last Name:</label>
		        <div class="col-sm-6">
		            <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="email" class="col-sm-2 control-label">Email:</label>
		        <div class="col-sm-6">
		            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com">
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="password" class="col-sm-2 control-label">Password:</label>
		        <div class="col-sm-6">
		            <input type="password" class="form-control" id="password" name="password">
		        </div>
		    </div>
		    <div class="form-group">
		        <div class="col-sm-10 col-sm-offset-2">
		            <button type="submit" id="submit" name="submit" class="btn btn-primary">Submit</button>
		        </div>
		    </div>
		</form>
	</div>
<%- include footernavigator.ejs %>
</body>
</html>