<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title> <!--is just a variable-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="http://arrow.scrolltotop.com/arrow16.js"></script>
	<noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>
</head>

<body style="background-color:#EAEAEA;">
<div id="container1">
	<div id="body1">
		<div class="container">
			<img src="https://s-media-cache-ak0.pinimg.com/originals/51/aa/c8/51aac8e5328790194fc4220dfd88c1f7.gif" alt="Success" style="width:350px;height:350px;" align="right">
			<img src="https://s-media-cache-ak0.pinimg.com/originals/51/aa/c8/51aac8e5328790194fc4220dfd88c1f7.gif" alt="Success" style="width:350px;height:350px;" align="left">
			<div class="jumbotron">
				<h1>You have successfully signed up XD</h1>
				<form action="/profile/id/<%= user._id %>" method="get">
		    		<button type="submit" id="login" name="login" class="btn btn-primary btn-lg btn-block">Click to proceed to login.</button>
		    	</form>
			</div>
	  	</div>
	</div>
<%- include footernavigator.ejs %>
</div>
</body>
</html>
